.header__high-bar__konto-side--login-button{
    height: 3em;
    border-left: solid 1px #CDCDCD;
    line-height: 35px;
    text-align: center;
    width: 10em;

    &:last-child{
        border-right: 1px solid #CDCDCD;
    }

    @media screen and (max-width: 980px) and (min-width: 769px){
        height: 2.5em;
        line-height: 25px;
    }
    @media screen and (max-width: 768px) and (min-width: 501px){
        height: 2.5em;
        line-height: 25px;
    }
    @media screen and (max-width: 500px){
        font-size: 13px;
        height: 2.4em;
        line-height: 35px;
    }
}

.header__bar__form--search-field{
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    padding: .5em 0 .5em .5em;
    width: 30em;

    &:focus{
        outline: none;
        border: none;
        border-bottom: 1px solid black;
    }

    @media screen and (max-width: 980px) and (min-width: 769px){
        width: 25em;
    }
    @media screen and (max-width: 768px) and (min-width: 501px){
        display: none;
        width: 25em;
    }
    @media screen and (max-width: 500px){
        display: none;
        width: 60vw;
    }
}

.header__bar__form--sumbit{

    @media screen and (max-width: 768px){
        display: none;
    }
}

.--menu-icon{
    align-items: center;
    cursor: pointer;
    display: none;
    font-size: 55px;
    height: 2rem;
    justify-content: center;
    width: 100vw;

    background-color: rgb(253, 236, 242);

    @media screen and (max-width: 768px) and (min-width: 501px){
        display: flex;
    }
    @media screen and (max-width: 500px){
        display: flex;
    }
}