.header__high-bar__konto-side--login-button{
    height: 3em;
    border-left: solid 1px #CDCDCD;
    line-height: 35px;
    text-align: center;
    width: 10em;

    @media screen and (max-width: 980px) and (min-width: 769px){
        height: 2.5em;
        line-height: 25px;
    }
    @media screen and (max-width: 768px) and (min-width: 501px){
        height: 2.5em;
        line-height: 25px;
    }
}

.header__bar__form--search-field{
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    padding: .5em 0 .5em .5em;
    width: 30em;

    &:focus{
        outline: none;
        border: none;
        border-bottom: 1px solid black;
    }

    @media screen and (max-width: 980px) and (min-width: 769px){
        width: 25em;
    }
}