@import '_mixins';
@import '_buttons';

header{
    display: flex;
    flex-flow: column nowrap;
    width: 75em;

    .header__high-bar{
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        justify-content: space-between;

        border-bottom: solid 1px #CDCDCD;

        .header__high-bar__contact-side{
            @include header__high-bar--set-size(25em, 3em, flex, row nowrap);
            align-items: center;
            justify-content: space-evenly;

            p{
                margin: 0;
            }
        }

        .header__high-bar__konto-side{
            @include header__high-bar--set-size(20em, 3em, flex, row nowrap);
            align-items: center;
            justify-content: space-evenly;
        }
    }


    .header__bar{
        align-items: center;
        display: flex;
        flex-flow: row nwrap;
        font-family: 'Hind Madurai', sans-serif;
        justify-content: space-between;

        .header__bar__form{
            margin-left: 8em;

            .header__bar__form--search-field{       }
        }

        .header__bar__container-koszyk{
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            margin-right: 2em;
            width: 9em;

            .header__bar__container-koszyk--koszyk-image{
                height: 1.5em;
                width: 1.5em;

                &::after{
                    content: '3';
                    display: block;
                    // position: absolute;
                    // top: 5px;
                    // left: 10px;
                    // overflow: hidden;
                }
            }
            .header__bar__container-koszyk--koszyk-name{
                font-size: 14px;
                font-weight: 600;
            }
        }
    }


    .header__navbar{
        align-self: center;
        display: flex;
        flex-flow: row nowrap;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 700;     
        justify-content: space-between;
        padding: 0 0 1em 0;  
        list-style-type: none;
        width: 80em;

        border-bottom: 2px solid #dddddd;

        a{

            &:hover{
                color: rgb(59, 59, 59);
            }
        }
        
    }
}


@media screen and (max-width: 980px) and (min-width: 769px){
    header{
        width: 50em;
    
        .header__high-bar{
            font-size: 10px;
    
            .header__high-bar__contact-side{
                @include header__high-bar--set-size(25em, 2.5em, flex, row nowrap);
            }
    
            .header__high-bar__konto-side{
                @include header__high-bar--set-size(20em, 2.5em, flex, row nowrap);
            }
        }
    
    
        .header__bar{
            
            .header__bar__form{
              margin: 0 0 0 2rem;
    
                .header__bar__form--search-field{       }
            }
    
            .header__bar__container-koszyk{
                margin-right: 2em;
                width: 9em;
    
                .header__bar__container-koszyk--koszyk-image{
                    height: 1.5em;
                    width: 1.5em;
                }
                .header__bar__container-koszyk--koszyk-name{
                    font-size: 14px;
                }
            }
        }
    
    
        .header__navbar{
            font-size: 12px;
            width: 64em;            
        }
    }
}


@media screen and (max-width: 768px) and (min-width: 501px){
    header{
        width: 100vw;
    
        .header__high-bar{
            font-size: 10px;
    
            .header__high-bar__contact-side{
                @include header__high-bar--set-size(25em, 2.5em, flex, row nowrap);
            }
    
            .header__high-bar__konto-side{
                @include header__high-bar--set-size(20em, 2.5em, flex, row nowrap);
            }
        }
    
    
        .header__bar{
            flex-flow: column wrap;
            margin: 1rem 0 5rem 0;
            position: relative;

            .header__bar--aurora-logo{
                display: none;
            }

            .header__bar__form{
              margin: 0 0 0 2rem;
    
                .header__bar__form--search-field{       }
            }
    
            .header__bar__container-koszyk{
                align-self: flex-end;
                margin-right: 2em;
                position: fixed;
                top: 6rem;
                width: 9em;
                z-index: 3;
    
                .header__bar__container-koszyk--koszyk-image{
                    height: 2em;
                    width: 2em;
                }
                .header__bar__container-koszyk--koszyk-name{
                    font-size: 14px;
                }
            }
        }
    
    
        .header__navbar{
            align-items: center;
            flex-flow: column wrap;
            font-size: 16px;
            height: 65vh;
            justify-content: space-around;
            width: 100vw;            
        }
    }
}