@import "header/_header";

body{
    display: flex;
    justify-content: center;

    a{
        color: black;
        outline: none;
        text-decoration: none;

        &:focus{
            text-decoration: underline;
        }
    }
}